[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.10.0"
pyspark = "==3.3.0"
matplotlib = "==3.5.2"
pandas = "~=1.4.3"
pyautogui = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
